body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url(bg.webp);
    background-color: bisque;
    background-size: cover;
    background-size: cover;
    backdrop-filter: blur(20px);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
.content {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}
p {
    text-align: ju;
}
img {
    margin-right: 20px;
}
h1 {
    color: rgb(80, 80, 80);
}
p {
    color: rgb(80, 80, 80);
}